
<div class="page-head">
  <h2 class="page-head-title">Mantenimiento de Clientes del Sistema</h2>
 <nav aria-label="breadcrumb" role="navigation">
   <ol class="breadcrumb page-head-nav">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
      <li class="breadcrumb-item active">Listado de Clientes</li>
      <!-- <li class="breadcrumb-item active">Nuevo Producto</li>  -->
    </ol>
   </ol>
 </nav>
</div>

<div class="main-content container-fluid">

  <div class="col-md-12">
    <div class="card card-border-color card-border-color-danger">
        <div class="card-header">
                  <b> Filtro de búsqueda  </b>  
            </div>
        <div class="card-body">
          
            <div class="row">
          
                  <div class="col-md-1">
                    <label class="col-form-label text-sm-right" for="username">Cliente:</label>
                  </div>
                  <div class="col-md-3">
                  
                    <span class="p-float-label">
                      <input id="float-input" type="text" [(ngModel)]="model.criterio"   pInputText>
                      <label for="float-input">Nombres</label>
                    </span>
                  </div>
      
  
                <div class="col-md-3">
                   <!-- <button class="btn btn-block btn-danger"  (click)="buscar()"  type="button">Buscar</button> -->
                   <button pButton type="button" (click)="buscar()" label="Buscar" icon="fa fa-search" class="p-button-text"></button>
                   <button pButton type="button" label="Nuevo"  icon="fa fa-file" (click)="nuevo()" class="p-button-text"></button>
                </div>
             
              </div>
        </div>
    </div>
</div>



<div class="col-md-12">


 <div class="card card-border-color card-border-color-primary">
   <div class="card-header card-header-divider">
       
    <div class="row">
         <b> Propietarios |  </b>  <span class="card-subtitle">   Listado de propietario del sistema</span>
       </div>
     </div>

    
   <div class="card-body">
       
       
        <!-- <button mat-fab ngbTooltip="Nuevo Cliente" color="primary"  routerLink="/mantenimiento/nuevocliente"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>  -->

          <p-table [style]="{width:'100%'}" 
            [scrollable]="false" [columns]="cols" [value]="clientes"
            #dt [paginator]="true"   [(selection)]="selectedRow"
            [rows]="10" [resizableColumns]="true" selectionMode="single" [responsive]="true"  >

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                    <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <!-- <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon> -->
                    </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr  [pSelectableRow]="rowData">
                    
                    <td class="ui-resizable-column"> {{rowData.razonsocial  }}</td>
                    <td class="ui-resizable-column" > {{rowData.tipodocumento  }}</td>
                    <td class="ui-resizable-column"> {{rowData.ruc  }} </td>
                    <td class="ui-resizable-column">  
                      <div class="ui-inputgroup">

                        <!-- <button class="btn btn-space btn-sm  btn-primary" pButton (click)="verDirecciones(rowData.id)" pTooltip="Ver Direcciones"   type="button" icon="fa fa-university"></button>
                        <button class="btn btn-space btn-sm  btn-primary" pButton (click)="agregarDireccion(rowData.id)" pTooltip="Agregar Direccion"  type="button" icon="fa fa-plus"></button> -->
                        <button class="p-button-success"  pButton   type="button" icon="fa fa-edit"   (click)="edit(rowData.id)" ></button>
                        <button class="p-button-warning"  pButton  type="button" (click)="delete(rowData.id)"  icon="fa fa-trash" ></button>
                        <!-- <button class="p-button-secondary" pButton   type="button" icon="fa fa-search"  (click)="ver(rowData.id)"></button> -->
                      </div>
                  </td>
                    
                  </tr>
              </ng-template>

      </p-table>
         
       
   </div>
  
 </div>
</div>

<!-- <div class="col-md-12">


    <div class="card card-border-color card-border-color-primary">
      <div class="card-header card-header-divider">
          
       <div class="row">
            <b> Direcciones |  </b>  <span class="card-subtitle">   Listado de direcciones del</span>
          </div>
        </div>
   
       
   
      <div class="card-body">
          
          <div  class="mat-elevation-z8">
            
            </div>
          
      </div>
     
    </div>
   </div> -->
   
  
  
  </div>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<ngx-spinner size="default" type = "ball-spin-fade"></ngx-spinner>