<div class="page-head">
  <h2 class="page-head-title">Mantenimiento de Usuarios del Sistema</h2>
  <nav aria-label="breadcrumb" role="navigation">
    <!-- <ol class="breadcrumb page-head-nav"
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
      <li class="breadcrumb-item"><a href="#">Listado de Usuarios</a></li>
      <li class="breadcrumb-item active">Nuevo Usuario</li>
    </ol> -->
  </nav>
</div>
<div class="main-content container-fluid">

  
    <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Datos de Usuario
          </div>
        <div class="card-body ">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>Usuario</label>
                    <!-- <p-inputMask [(ngModel)]="model.username" mask="aaaaaa" characterPattern="[a-z]"></p-inputMask> -->

                    <input  type="text" maxlength="10" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                    [(ngModel)]="model.username"     placeholder="Username para el login">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">El Usuario es requerido</div>
                        </div>
                </div>
                <div class="form-group col">
                    <label>Nombres </label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">El Nombre es requerido</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Apellidos</label>
                    <input type="text"  formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">El apellido es requerido</div>
                    </div>
                </div>
               
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>DNI</label>
                <input type="number" onKeyPress="if(this.value.length==11) return false;"  formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
                <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                    <div *ngIf="f.dni.required">DNI es requerido</div>
                </div>
            </div>
                <div class="form-group col">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                        <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group offset-3 col-3">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
          
                <div class="row offset-3 pt-2 pt-sm-5 mt-1">
                    <div class="col-sm-6 pl-0">
                      <p class="text-right">
                        <button  class="btn btn-space btn-primary" type="submit">Guardar</button>
                        <button  (click)="cancel()" class="btn btn-space btn-secondary">Cancel</button>
                  
                      </p>
                    </div>
                  </div>
     
           
          </form>
        </div>

    
    

        <p-toast position="bottom-center"  key="c" (onClose)="onReject()" [baseZIndex]="5000">
          <ng-template let-message pTemplate="message">
              <div class="p-flex p-flex-column" style="flex: 1">
                  <div class="p-text-center">
                      <!-- <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i> -->
                      <h4>{{message.summary}}</h4>
                      <p>{{message.detail}}</p>
                  </div>
                  <div class="row">
                      <div class="p-col-6">
                          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                      </div>
                      <div class="p-col-6">
                          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-toast>

        <p-toast position="top-left"></p-toast>
        <!-- <p-messages [(value)]="msg"></p-messages> -->