<div class="page-head">
<h2 class="page-head-title"> Órdenes de Transporte</h2>  
  <div class="light-font">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb primary-color">
      <li class="breadcrumb-item active">Listado de órdenes</li>
    </ol>
  </nav>
</div> 
</div>


<div class="main-content container-fluid">
  <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
          <div class="card-header">
              <i class="fa fa-info-circle"></i>
                    <b> Filtro de búsqueda  </b>  
              </div>
          <div class="card-body">
              <div class="row">
                 
                  <div class="ui-g-12 ui-md-3">
                      <h5>Cliente:</h5>
                        <p-dropdown name="selectedCliente" id="selectedCliente" [options]="clientes"  [(ngModel)]="selectedCliente" 
                                scrollHeight="40vh"   [style]="{'width':'100%'}"  [resetFilterOnHide]="true" 
                                [hideTransitionOptions]="'0ms'"
                                [showTransitionOptions]="'0ms'" 
                                placeholder="seleccione un cliente"  
                                >
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle;">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                  </div>
                <div class="ui-g-12 ui-md-3">
                  <h5>Estado:</h5>
          
                        <p-dropdown name="selectedEstado" id="selectedEstado" [options]="estados"  [(ngModel)]="selectedEstado" 
                                scrollHeight="40vh"  
                                placeholder="seleccione un estado"
                                [style]="{'width':'100%'}"  [resetFilterOnHide]="true"  
                                [hideTransitionOptions]="'0ms'"
                                [showTransitionOptions]="'0ms'"   >
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle;">{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                  </div>
              
                  <div class="ui-g-12 ui-md-3">
                      <h5>Inicio:</h5>
                      <p-calendar [(ngModel)]="dateInicio"  [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                  <div class="ui-g-12 ui-md-3">
                      <h5>Fin:</h5>
                      <p-calendar [(ngModel)]="dateFin"  [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2 offset-8">
                          <button   pButton iconPos="left" label="Buscar" icon="fa fa-search"   (click)="buscar()"  type="button"></button>
                  </div>
                  <div class="col-md-2">
                          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" class="ui-button-success"></button>
                  </div>
               </div>
          </div>
      </div>
  </div>
  <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
            <div class="card-header">
                <b> Órdenes de Transporte  </b> 
                <!-- <span class="card-subtitle">   Listado de ordenes de Transporte</span> -->
            </div>

 
              <div class="card-body">
                   
                <div  class="mat-elevation-z8">
                    <button *ngIf="this.escliente == 'false'"  mat-fab ngbTooltip="Nueva Carga" color="primary"  routerLink="/seguimiento/uploadfile"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button> 
                    <p-table  [columns]="cols" 
                      [scrollable]="true"  [style]="{width:'100%'}" [(selection)]="selectedRow"
                      [value]="ordenes" #dt [paginator]="true" selectionMode="multiple"
                      [loading]="loading"
                       [rows]="10" [resizableColumns]="true" [responsive]="true" >  

                       <!-- <ng-template pTemplate="caption">
                          <div style="text-align: right">        
                              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                              <input type="text" pInputText size="50" placeholder="Filtro global" (input)="dt.filterGlobal($event.target.value, 'contains')" style="color:black; width:auto">
                          </div>
                      </ng-template> -->
 
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                        </colgroup>
                     </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                              <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th>
                          </tr>
                          <!-- <tr>
                              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                  <input style="width:70%" *ngSwitchCase="'numero_ot'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                  <input style="width:70%" *ngSwitchCase="'shipment'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                  <input style="width:70%" *ngSwitchCase="'delivery'" pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                                  <input style="width:70%" *ngSwitchCase="'oc'" pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                                  <input style="width:70%" *ngSwitchCase="'guias'" pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                              </th>
                            </tr> -->
                      </ng-template>
                    
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr   [pSelectableRow]="rowData">
                      <!-- [ngClass]="rowData.tipoEntrega == 'No Entregado' ? 'new-car' : (rowData.tipoEntrega == 'Entrega Parcial' ? 'new-car': null)" -->
                        <!-- <td *ngIf="rowGroupMetadata[rowData.brand].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.brand].size">
                            {{rowData.fecha_incidencia}}
                        </td> -->
                        <td class="ui-resizable-column">  
                          <div class="ui-inputgroup">
                            <button class="ui-button-secondary" type="button"  pButton (click)="ver(rowData.id)" icon="fa fa-search"></button>
                            <!-- <button type='button' pButton  title='Ver Archivos'  class='ui-button-secondary' icon="fa fa-cloud-upload" (click)='verarchivos(rowData.id);'>    </button> -->
                            <button *ngIf="this.escliente == 'false'" class="ui-button-secondary" type="button"  pButton (click)="edit(rowData.id)" icon="fa fa-edit"></button>
                          </div>
                      </td>
                      <!-- <td class="ui-resizable-column">  
                            <button  class="ui-button-icon" pButton iconPos="left"  icon="fa fa-clone"   (click)="getFiles(rowData.id, $event ,op1);"  type="button"></button>
                      </td> -->
                        <!-- <td class="ui-resizable-column"> {{rowData.id }}</td> -->
                        <!-- <td class="ui-resizable-column">  <p-rating [ngModel]=" rowData.nivel_satisfaccion  " readonly="true" stars="5" [cancel]="false"></p-rating>   </td> -->
                        <td class="ui-resizable-column"> 
                          <div   *ngIf="rowData.tipoEntrega == 'No Entregado' ? true :  (rowData.tipoEntrega == 'Entrega Parcial' ? true : false)" >
                              <img style="-webkit-user-select: none;margin: auto;" width="31" height="28" alt="ICon" src="assets/img/alert.png">
                          </div>
                      </td>
                      
                      <td class="ui-resizable-column">   {{rowData.numero_manifiesto  }}    </td>
                        <td class="ui-resizable-column"> {{rowData.fecha_registro | date: 'dd-MM-yyyy'  }}  </td>
                        <td class="ui-resizable-column"> {{rowData.fecha_carga | date: 'dd-MM-yyyy'  }}  </td>
                        <td class="ui-resizable-column"> {{rowData.numero_ot  }}</td>
                        <td> {{rowData.estado}}</td>
                        <td> {{rowData.tipoEntrega}}  </td>
                        <td class="ui-resizable-column"> {{rowData.remitente}} </td>
                        <td class="ui-resizable-column"> {{rowData.destinatario}} </td>
                        <td class="ui-resizable-column"> {{rowData.shipment}}</td>
                        <td class="ui-resizable-column"> {{rowData.delivery}}</td>
                        <td class="ui-resizable-column"> {{rowData.oc}}</td>
                        <td class="ui-resizable-column"> {{rowData.cantidadFiles}}</td>  
                        
                        <!-- <td class="ui-resizable-column"> {{rowData.destinatario}}</td> -->
                
                        <td class="ui-resizable-column"> {{rowData.provincia_entrega}}</td>
                        <td class="ui-resizable-column"> {{rowData.fecha_entrega | date: 'dd-MM-yyyy'  }}  </td>
                        <td class="ui-resizable-column"> {{rowData.chofer}}</td>
                        <td class="ui-resizable-column"> {{rowData.tracto}}</td>
                        <td class="ui-resizable-column"> {{rowData.carreta}}</td>
                        <td class="ui-resizable-column"> {{rowData.usuario_registro}}</td>
                        
                    </tr>
                    </ng-template>
                    </p-table>  
                </div>
              </div>
      </div>
 </div>
</div>

<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading> -->

<!-- <p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"  [dismissable]="true" [showCloseIcon]="true" #op1 [appendTo]="'body'">
  
  <img [src]="imageToShow" width="320" height="320"
  alt="Place 
  image title" 
  >

</p-overlayPanel> -->